.reset-sent {
  margin-top: 10px;
  small {
    color: green;
    font-family: "Roboto";
  }
}

.reset-fail {
  margin-top: 10px;
  small {
    color: red;
    font-family: "Roboto";
  }
}

small {
  margin-left: 10px;
  font-family: "Roboto";
}
